* {
	padding: 0px;
	margin: 0px;
}
.nav_bar img {
	vertical-align: middle;
	margin-left: 300px;

}

#nav_list {
	display: inline-block;
	margin-left: 400px;

}

#nav_list li {
	display: inline;
    padding-left: 50px;
} 

#nav_list li a {
	text-decoration: none;
	font-family: sans-serif;
	color: #373738;
}

.nav_bar {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: rgba(197, 199, 201, 0.7);
}

.cta {
	background-color: rgba(197, 199, 201, 0.7);
	width: 100%;
	height: 60px;
	position: relative;
	top: -50px;
}
#cta_text {
	display: inline-block;
	padding-top: 20px;
	font-family: sans-serif;
	margin-left: 50px;
}
#cta_link {
	display: inline-block;
	width: 200px;
	height: 30px;
	vertical-align: middle;
	background-color: #53F4E8;
	padding-top: 15px;
	padding-left: 20px;
	text-decoration: none;
	color: white;
	margin-left: 500px;
}

.cta:hover {
  background-color: green;
} 
.services-wrapper {
	width: 1166px;
	height: 370px;
	background-color: #F7F9F9;
	text-align: center;
	margin-left: 100px;
	margin-top: -50px;
}
.services-wrapper ul li {
	display: inline-block;
	width: 290px;
	height: 230px;
	background-color: #F7F9F9;
	text-align: center;
	margin-top: 50px;
}
.services-wrapper ul {

}
.services-wrapper span {
	margin-left: 10px;
	font-family: sans-serif;
	margin-top: 20px;
}

.recent_work {
	margin-left: 100px;
}
.recent_work img {
	margin-left: 0px;
}
.testimonials_wrapper {
  width: 1166px;
  height: 370px;
  background-color: #F7F9F9;
  margin-left: 100px;
}

.testimonials_wrapper ul li {
	display: inline-block;
	width: 270px;
	height: 250px;
	margin-top: 110px;
	margin-left: 50px;
}
.testimonials_wrapper ul img {
  border-radius: 100%;
  position: relative;
  left: 100px;
}

.testimonials_wrapper ul {
	display: inline-block;
	margin-left: 80px;
}
.testimonials_wrapper ul li p {
	text-align: center;
}
.testimonials_wrapper ul li span {
	position: relative;
	left: 60px;
}
footer {
	width: 1168px;
	height: 350px;
	background-color: #1F2020; 
	margin-left: 100px;
}

footer div {
	float: left;
	width: 180px;
	height: 200px;
	margin-top: 80px;
	margin-left: 50px;
	position: relative;
	left: 80px;
}

#comp_list {
	list-style-type:none;
}
#sup_list {
	list-style-type:none;
}

footer div ul li a {
	text-decoration: none;
	color: white;
	font-family: sans-serif;

}
footer div h3, p {
	color: white;
}
.rights {
	position: relative;
	top: 320px;
	right: 450px;
}

div img:hover {
	background-image: url("../img/social_hover.png");
}